<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Add Food</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div align="center">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th>Food</th>
            <th>Price</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="room : ${roomlist}">
            <td th:text="${food.name}">Food</td>
            <td th:text="${food.price}">Price</td>
            <td th:text="${food.type}">Type</td>
        </tr>

        </tbody>
    </table>
    </div>
</body>
</html>